top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.background-login {
    position: relative;
    width: 100%;
    min-height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(https://imgh.us/0xhci-s47b8_3.svg);
}
.background-signup {
    position: relative;
    width: 100%;
    min-height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(http://imgh.us/login_3.svg);
}
.background-home {
    position: relative;
    width: 100%;
    min-height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: left top;
    background-image: url(https://imgh.us/jyhqe-jfqax.svg);
}
#background-content{
     position: relative;
    width: 100%;
    min-height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(https://imgh.us/0ot00-7unlx_1.svg);
}
#background-search-uni{
     position: relative;
    width: 100%;
    min-height: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(https://imgh.us/69u5m-o6mem.svg);
}
.center_content {
    position: relative;
    background-color:#fff; 
    min-height: 92.3vh;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


